<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.afii57929</key>
  <array>
    <string>afii57929</string>
  </array>
  <key>public.kern1.uniA4D1</key>
  <array>
    <string>uniA4D1</string>
    <string>uniA4D4</string>
    <string>uniA4DD</string>
    <string>uniA4E6</string>
    <string>uniA4E9</string>
    <string>uniA4EA</string>
    <string>uniA4EC</string>
    <string>uniA4EF</string>
  </array>
  <key>public.kern1.uniA4D5</key>
  <array>
    <string>uniA4D5</string>
    <string>uniA4E1</string>
    <string>uniA4E5</string>
    <string>uniA4EE</string>
  </array>
  <key>public.kern1.uniA4FA</key>
  <array>
    <string>macronlowmod</string>
    <string>uniA4FA</string>
    <string>uniA4FB</string>
  </array>
  <key>public.kern2.afii57929</key>
  <array>
    <string>afii57929</string>
  </array>
  <key>public.kern2.space</key>
  <array>
    <string>space</string>
  </array>
  <key>public.kern2.uniA4F8</key>
  <array>
    <string>macronlowmod</string>
    <string>uniA4F8</string>
    <string>uniA4F9</string>
    <string>uniA4FA</string>
    <string>uniA4FB</string>
  </array>
</dict>
</plist>
