<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.afii57929</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-164</integer>
  </dict>
  <key>public.kern1.uniA4D1</key>
  <dict>
    <key>public.kern2.uniA4F8</key>
    <integer>-246</integer>
  </dict>
  <key>public.kern1.uniA4D5</key>
  <dict>
    <key>public.kern2.afii57929</key>
    <integer>-246</integer>
  </dict>
</dict>
</plist>
