<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_afii57929</key>
  <dict>
    <key>@MMK_R_uniA4F8</key>
    <integer>-246</integer>
  </dict>
  <key>@MMK_L_uniA4D1</key>
  <dict>
    <key>@MMK_R_uniA4F8</key>
    <integer>-164</integer>
  </dict>
  <key>@MMK_L_uniA4FA</key>
  <dict>
    <key>@MMK_R_space</key>
    <integer>-148</integer>
  </dict>
</dict>
</plist>
